<form action="/favourites" method="POST">
  <button style="border-radius: 10px; margin-top: 10px;" type="submit" class="bg-green-300 p-2 hover:bg-green-500">Add to Favourite</button>
  <input type="hidden" name="id" value="<%= home.id %>">
</form>